<nav>
    <div class="navbar">
      <a>
        <img src="/images/logo.png" alt="Logo" class="logo">
      </a>
      <ul>
        
          <li>
            <a href="http://localhost:3000">
              <img src="/icons/home.svg" alt="Pagina Principal">
              PAGINA PRINCIPAL
            </a>
          </li>
          <li>
            <a href="http://localhost:3000/heroes">
              <img src="/icons/contact.svg" alt="Lista de Superheroes">
              LISTA DE PAISES
            </a>
          </li>
          <li>
            <a href="http://localhost:3000/formularioCrearSuperheroe">
              <img src="/icons/info.svg" alt="Agregar Superheroe">
              AGREGAR PAIS
            </a>
          </li>
  
      </ul>
    </div>
  </nav>
  
  