<section class="bienvenida">
  <h2>Bienvenido al Sistema de Gestión de Paises</h2>
  <p>Desde aquí podés registrar, editar o consultar información sobre los paises. ¡Viaja por el Mundo!</p>
  <img src="/images/superheroes.jpg" alt="Ilustración de superhéroes" class="imagen-principal">
</section>
  